/* AuthPages.css */

.auth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url('./R.jpeg'); /* Replace 'path_to_image' with the actual path to your image */
  background-size: cover;
  background-position: center;
  background-color: rgba(255, 255, 255, 0.8); /* Add transparency to the background color */
}

.auth-form {
  background: rgba(244, 244, 244, 0.9); /* Add transparency to the background color */
  padding: 50px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  height: 50%;
  width: 30%;
  margin: 20px;
}

  .auth-form h2 {
    text-align: center;
    margin-bottom: 30px;
  }
  
  .auth-form label {
    display: block;
    margin-bottom: 10px;
  }
  
  .auth-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  .auth-form button {
    background: #2f7ee6;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .auth-form button:hover {
    background: #1f85f1;
  }
  